# Hidden junk
.DS_Store
desktop.ini
*._

# Temp files
*~*
*.bak
*.lock
*.log
*.ipynb*

# Images
data/**/*.jpg

# Models
models/**/*.json
models/**/*.keras

# Development environments
.idea*/
.venv*/
.uv_cache/
.ruff_cache/
.mypy_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
